:root{
    --prim-main-bg : hsl(233, 47%, 7%);
    --prim-card-bg : hsl(244, 38%, 16%);
    --prim-accent: hsl(277, 64%, 61%);
    --text: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--prim-main-bg);
    color: var(--text);
    font-size: 15px;
    padding: 5% 6% 1% 6%;
    margin: 0px;
}

.container{
    display: flex;
    background-color:  var(--prim-card-bg);
}

.container-image{
    background-image: linear-gradient(hsla(277, 64%, 61%, 0.7), hsla(277, 64%, 61%, 0.7)), url("images/image-header.jpg");
    background-size: cover;
}

.container-content h1{
    font-family: 'Lexend Deca', sans-serif;
    color: var(--white1);
    padding: 10% 10% 0 10%;
    text-align: center;
}

.container-content h1 span{
    color: var(--prim-accent);
}

.container-content p{
    padding: 0 8% 0 8%;
    text-align: center;
}

.container-content p, .stats{
    font-family: 'Inter', sans-serif;
    
}

.stats{
    text-align: center;
    padding: 8%;
}

.stats div{
    margin: 4%;
}

.stats h2, p{
    padding: 1%;
    margin: 0px;
}

.attribution{
    padding: 5% 0 0 0 ;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.attribution a:nth-child(1){
    color: hsl(243, 49%, 35%);;
    text-decoration: none;
}

.attribution a:nth-child(2){
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--white);
}

@media only screen and (max-width: 770px){
    .container{
        flex-direction: column;
        border-radius: 1%;
        overflow: hidden;
    }

    .container-image{
        order: 0;
        height: 300px;
    }
    .container-content{
        order: 1;
    }
}

@media only screen and (min-width: 770px){
    body{
        margin: 10vh auto 10vh auto;
        width: 80vw;
    }

    .container{
        flex-direction: row;
        max-width:  1400px;
    }

    .container-image{
        order: 1;
        width: 50%;
    }
    .container-content{
        position: relative;
        order: 0;
        width: 50%;
    }

    .stats{
        display: flex;
        width: 100%;
    }

    .stats div{
        width: 100%;
    }
}